body{
    background-color: #181A25;
    background-image: #181a25;
    background-size: cover;
}
html{
    background-color: #181A25;
}
h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #181A25;
}
h2{
    
    font-family: 'Source Sans Pro', sans-serif;
    color: #3F4B5E;
    background-color: #181A25;
    font-weight: bold;
}
.associated{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 150px;
    grid-template-areas: 
    "losing wonderful out"
    "lemon some song"
    ;
    background-color: #181A25;
}
.jumbotron{
    background-color: #181A25;
}
.recently{
    background-color: #181A25;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #181A25;
    color: #fff;
}
.contentHer{
    background-color: #181A25;
    padding-left: 300px;
}
.content{
    background-color: #181A25;
    padding-left: 300px;
}
.row{
    background-color: #181A25;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}
.contentHer h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}
.recent{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: 
    "thomas art News"
    "thomas art News"
    "thomas art News"
    ;
    background-color: #181A25;
}
.gigi img{
    width: 1000px
}
span {
    font-size: 16px;
}
.contentHer h2{
    color:#3F4B5E;
    font-weight: bold;
}
.acts h2{
    font-weight: bold;
}
.nearYou{
    background-color: #282B3E;
    padding-left: 300px;
}
.nearYou h2{
    color: #FFF;
}
.row .gigs{
    background-color: #282B3E !important;
}
.row .gigs h2{
    background-color: #282B3E !important;
}
.row .gigs h1{
    background-color: #282B3E !important;
}
.row .gigs h3{
    background-color: #282B3E !important;
}
.row .gigs .heuristic{
    background-color: #282B3E !important;
}
.row .gigs .recent{
    background-color: #282B3E !important;
}
.private{
    background-color: #282B3E !important;
    border-radius: 25px;
}
.private h2{
    background-color: #282B3E !important;
    color: #fff;
}
.private .recent{
    background-color: #282B3E !important;
    border-radius: 25px;
}
.table{
    border-radius: 25px;
}
.calendarImg img{
    height: 300px;
}
    
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hidesidebarformobile {
      display:none !important;
    }
  }

  @media only screen and (min-width: 768px) {
    /* For mobile phones: */
    .showbottombarformobile {
      display:none !important;
    }
  }

  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .showbottombarformobile {
      position: fixed;
      bottom:0px;
      width:100%;
      background-color:#000;
      z-index: 5;
    }
  }