.body {
  background-color: #181a25;
  background-size: cover;
}

.col img {
  width: 100%;
}
.cards {
  background-color: #282b3e;
  border-radius: 10px;
  padding: 20px;
  color: white;
}
.col {
  color: white;
}
.row {
  padding: 20px;
}
.container {
  padding: 20px;
}
.table img {
  width: 40px;
  padding: 0px 10px 0px 0px;
}
.tablewords {
  color: white;
}

@import url("https://bootswatch.com/flatly/bootstrap.min.css");

body {
  padding-top: 50px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background: #ecf0f1;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
  }
}

#sidebar {
  padding: 15px;
  margin-top: 10px;
}
