

body {
  padding-top: 0px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hidesidebarformobile {
      display:none;
    }
  }

  @media only screen and (min-width: 768px) {
    /* For mobile phones: */
    .showbottombarformobile {
      display:none;
    }
  }

  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .showbottombarformobile {
      position: fixed;
      bottom:0px;
      width:100%;
      background-color:#000;
      z-index: 5;
    }
  }