@import url("https://bootswatch.com/flatly/bootstrap.min.css");

body {
  padding-top: 0px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .sidebar {
      width: 100%;
      position:fixed;
      bottom:0px;
      background-color:#000; 
      color:#fff;
    }
  }